.tour-boxes {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}
.tour{
    width: 330px;
    padding: 5px 10px;
    border: 1px solid grey;
    margin: 10px 0;
    flex-direction: column;
    display: flex;
    -webkit-box-shadow: 0 3px 15px -1px #000000;
    box-shadow: 0 3px 15px -1px #000000;
}
.tour:hover .tour-btn{
    -webkit-box-shadow: 1px 0 19px 3px rgba(0,0,0,0.86);
    box-shadow: 1px 0 19px 3px rgba(23, 22, 35, 0.86);
    text-shadow: 1px 3px 2px rgba(19, 12, 196, 0.84);}
.tour-img{
    height: 300px;
}
p{
    font-weight: bold;
}
.tour-btn{
    margin: auto auto 5px auto;
}
h5{
    margin: 5px 0;
}
.title-tour{
    text-align: center;
    margin: 10px 0;
    padding: 5px 0;
    color: #FFFFFF;
    background: #6b6dee;
    box-shadow: 5px 3px 15px 2px #94b8ff;

}
