.flights-div{
    background: url(../../assets/tourism.jpg) 50% 40% no-repeat;
    background-size: cover;
    height: 600px
}
.flights-form{
    background: rgba(0, 0, 0, 0.7);
    width: 80%;
    margin: 0 auto;
    padding: 15px 0;
    border-radius: 4px;
}
.flight{
    padding: 50px 10px;
}
.input{
    width: 30%;
    margin-right: 5px;
}
.title-flights{
    text-align: left;
    margin-left: 10%;
    color: #FFFFFF;
    font-style: italic;
}