.promo-block {
    height: 650px;
    background-size: cover;
    position: relative;
}

img {
    width: 100%;
    height: 600px;
    display: block;
}
.promo-text{
    position: absolute;
    top: 6%;
    left: 27%;
    width: 50%;
    padding: 10% 0;
    color: #cb99f9;
    animation: normal;
}

span{
    color: #9897c5;
}
