.nav-div{
    background: rgba(0, 0, 0, 0.6) url(../../assets/06.png);
    position: relative;
    z-index: 100;
    -webkit-box-shadow: 0 2px 15px 2px rgba(0,0,0,0.71);
    box-shadow: 0 2px 15px 2px rgba(0,0,0,0.71);
}
.container{
    max-width: 1400px;
    padding: 0 10px;
    margin: 0 auto;
    text-align: center;
}

ul{
    padding: 16px 0;
    border-color: transparent;
}
a {
    font-size: 12px;
    font-weight: 800;
    padding: 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 10px 20px 10px 20px;
    color: #FFF;
    background-color: transparent;
    text-decoration: none;

}
a:hover{
    border-bottom: 1px solid rgb(40, 141, 203);

}
.logo{
    margin-top: 7px;
}
.main-nav{
    margin: 0;
}
a:hover{
    text-decoration: none;
}
li{
    display: inline-block;
}

.logo{
    float: left;
    margin-left: 50px;
    border: none;
    font-size: 16px;
    text-decoration: none;
    text-transform: capitalize;
}
.logo:hover{
    color: red;
    text-decoration: none;
}
