.search-div{
    background-color: #f7f7f7;
    padding: 30px 0;
}
.form{
    width: 80%;
    margin: 0 auto;
}
input{
    border: 3px solid #bdbdbd;
    height: 50px;
    padding: 11px 15px;
    color: black;
    font-size: 15px;
    vertical-align: top;
    width: 40%;
    margin: 20px 0;
    border-radius: 3px;
}
.btn-search{
    background-color: #003399;
    height: 50px;
    color: #FFFFFF;
    margin: 20px 0;
    width: 10%;
    border: 3px solid #bdbdbd;
    border-radius: 3px;

}
.hotels{
    width: 90%;
}
